.services {
  padding: 6em 0.5em 3em;

  .service {
    @include gridle_row();
    margin: 4em 0;

    .service__image, .service__description {
      @include gridle_grid ( 12 );
      @include gridle_state ( tablet ) {
        @include gridle ( 6 );
      }

      .image {
        max-width: 400px;
        margin: 0 auto;
      }

      img {
        max-width: 100%;
        display: block;
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.2;
    max-width: 20em;
    margin: 0 auto;
    padding: 0 1em 0;
  }

  h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 1.5em;

    & + p {
      text-align: center;
      max-width: 30em;
      margin: 0 auto;
      padding: 0 2em;
    }
  }

  h3 {
    text-transform: uppercase;
    font-weight: 400;
    margin: 1.5em 0;
    text-align: center;
  }
}

.services {
  @include gridle_state( tablet ) {
    .service:nth-child(odd) {
      .service__image {
        @include gridle_push( 6 );
      }
      .service__description {
        @include gridle_pull( 6 );
      }
    }

    .service {
      ul {
        padding: 0;
        max-width: auto;
      }

      .service__description-content {
        position: relative;
        max-width: 30em;
        margin: 0 auto;
      }
    }

    .service__description-content h3:after {
      content: "";
      display: block;
      position: absolute;
      height: 3px;
      width: 10%;
      background: $color-yellow;
      left: 50%;
      top: 2em;
      transform: translateX(-50%);
    }
  }
}
