// Website Variables and Colours


$base-font-family: 'Raleway';
$base-line-height: 26px;
$base-heading-font-family: 'Montserrat';

$color-white: #f6f6f6;
$color-dark: #422e2d;
$color-brown: #9c5d47;
$color-orange: #ce7338;
$color-yellow: #f0aa70;
$color-bright: #f2dabd;
$color-footer: #091D1E;

$base-font-color: $color-white;
